*{
    margin: 0;
    padding: 0;
    font-family: monospace;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#000 ,#1f0225);

}


.box{
    color: greenyellow;
}

#t{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#d{
    font-size: 13px;
    text-align: center;
}